


<div class="container">
<div class="well well-lg">


   <h2 style='text-transform:uppercase'class="panel-title">{{diction.word}}</h2>

    <div class="panel-body">
       <p class="list-group-item-text"><strong style="color:#18453B">Meaning</strong> </br><span style='text-transform: lowercase;'>{{diction.definition_1}}</span></p>
       <p ng-if='diction.use' class="list-group-item-text"><strong style="color:#18453B">Use</strong> </br><span style='text-transform: lowercase;'>{{diction.use}}</span></p>

    </div>
    
    <div id="share-buttons">
    
    
 
    <!-- Facebook -->
   <a href="http://www.facebook.com/sharer/sharer.php?u=http://shengslang.com/&t={{diction.word}}" target="_blank" class=" share-popup btn btn-material-blue-900">
    Facebook</a> 
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://shengslang.com/&amp;hashtags=sheng" 
    target="_blank" class="btn btn-material-blue-A200">
    Twitter
    </a>
 
</div>
              <span ng-init us-spinner="{radius:30, width:8, length: 16}" style='text-align:center'>
         <p>
          maze kua mpole ..
          </p>

          </span>
</div>
</div>