
<div class="container" >





<ul class="list-group">
    

    <li class="btn btn-flat btn-default" style="width:100%;text-align:left;" 

    ng-repeat="diction in dictionary | filter:search | filter:filters | orderObjectBy:'word':false " ng-show="diction._id.$oid" 
    ng-click="go('/diction/{{diction._id.$oid}}')">
         
      
        <div class="row-content">
            <div class="least-content"></div>
             
            <h4 style="font-family: 'Josefin Sans', sans-serif;" class="list-group-item-heading">

            {{diction.word}}</h4>
           
                   </div>
   
           </li>
    
</ul>

    <span ng-init us-spinner="{radius:30, width:8, length: 16}" style='text-align:center'>
         <p style="padding-top:20px">
          maze kua mpole ..
          </p>

          </span>
</div>

</div>